@import "normalize";
@import "variables";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

html body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: $backgroundColorGeneral;
}
.navigationBar {
    background-color: $primary;
    display: flex;
    padding: 0 16px;
    color: $white;
    font-weight: bold;
    & section:nth-child(1) {
        display: flex;
        & div {
            margin: 16px;
        }
    }
    & section:nth-child(2) {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;

        & input {
            border-radius: 4px;
            height: 24px;
        }
    }
}

.mainSection {
}

.bodyOrganizer {
    display: flex;
}

.titleOrganizer {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    & div:nth-child(2) {
        display: flex;
        align-items: center;
        & div {
            margin: 0 8px;
        }
    }
}

.titleStyles {
    display: flex;
    flex-direction: column;
    & div:nth-child(1) {
        font-size: 14px;
        color: $textGrey;
    }
    & div:nth-child(2) {
        font-size: 32px;
        font-weight: 600;
    }
}

.subTitle {
    font-size: 18px;
    color: $primary;
    font-weight: 400;
}

.asideOrganizer {
    margin: 150px 0 0 44px;
}

.avatarOrganizer {
    & img {
        height: 150px;
        width: 150px;
    }
}
.descriptionAboutme {
    font-size: 16px;
    color: $textGrey;
    font-weight: 400;
}

.socialIcons {
    display: flex;
    & div {
        margin-right: 16px;
    }
}
.inputConfig{
    width: 80%;
    height: 100px;
    display: flex;
}


.boxComment {
    border: black solid 1px;
    height:50px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 8px;
    margin-bottom:8px;
    & p {
    }
    &::before,
    &::after {
        position: absolute;
        right: 24px;
        content: "";
        height: 28px;
        width: 2px;
        background-color: $textGrey;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.error{
    display: flex;
    background-color: black;
    color: red;
}